[user]
	email = fil.eugene@gmail.com
	name = eugenefil
[core]
	editor = emacs
	pager = cat
[alias]
	st = status
	ci = commit
	co = checkout
	tip = log -n1
[color]
	ui = always

# filter to filter out firefox volatile preferences like timestamps
[filter "ff-volatile-prefs"]
	clean = filter-ff-volatile-prefs
